.feedback {
    background-color: var(--light);
    color: var(--dark);
    padding: 40px 20px;
    margin-bottom: 40px;
}

.feedback > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 60px;
}
.feedback > .content h2 {
    text-align: center;
    width: 840px;
    max-width: calc(100% - 20px);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
}

.feedback > .content p {
    text-align: center;
    width: 920px;
    max-width: calc(100% - 20px);
    font-size: 24px;
    font-weight: 400;
}
.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.card {
    width: 440px;
    max-width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardTop {
    display: flex;
    gap: 16px;
    align-items: center;
}
.image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: contain;
    overflow: hidden;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content .name {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
}
.content .role {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
.info {
    display: flex;
    justify-content: space-between;
}
.comment {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}
.rating {
    display: flex;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}
.date {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}
@media (max-width: 991px) {
    .feedback > .content h2 {
        font-size: 48px;
    }
}