@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
}

.logo {
  width: 100%;
  padding-top: 20px;
}

.logo > img {
  padding-left: 15%;
}

.leftSideContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.leftHeading {
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  width: 70%;
  color: #00e087;
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  align-items: center;
}

.leftParagraph {
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 34.05px;
  color: #000a06;
  vertical-align: middle;
}

.leftParagraph > p {
  margin-left: 15%;
  width: 65%;
}

.rightSide {
  flex: 1;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000a06;
}

.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 60px;
  border: 1px solid white;
  background-color: #000a06;
  border-width: 1px;
  color: white;
  text-align: left;
  padding-left: 10px;
}

.formText {
  display: flex;
  width: 715px;
  height: 400px;
  border-color: white;
  background-color: #000a06;
  border-width: 1px;
  margin: 30px 0 30px 0;
  color: white;
  line-height: normal;
  padding-left: 15px;
}

.submitButtonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.formSend {
  width: 50%;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: #000a06;
  color: white;
  border-radius: 100px;
  border-width: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.formCancel {
  cursor: pointer;
  display: flex;
  width: 100%;
  background-color: #000a06;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border: none;
  justify-content: center;
}

.formTitle:focus,
.formText:focus {
  outline: 2px solid #00e087;
  outline-offset: -2px;
}

.formSend:hover {
  transition: 0.3s ease;
  background-color: #00e087;
  color: #000a06;
}

.formCancel:hover {
  transition: 0.3s ease;
  color: #00e087;
}
