.button {
  color: var(--light);
  width: 100%;
  height: 10%;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--drop-shadow-2);
}

.primary {
  background-color: var(--primary-color);
  border: none;
}

.primary:hover {
  background-color: #064a2f;
}

.secondary {
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: var(--dark);
}

.secondary:hover {
  background-color: #f2eeee;
  color: var(--dark);
}
