.category {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.category div {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    align-items: center;
}

/* .category div > div {
    width: 400px;
} */

.category h2 {
    margin-top: 10px;
    padding-block: 1rem;
}