.category {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.category div {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.category div img {
    max-width: 100%; 
    height: auto; 
}

.category h2 {
    margin-top: 10px;
    padding-block: 1rem;
}