.card{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card img {
    width: 500px;
    border-radius: 8px;
    transition: transform 0.3s ease;

}

.card img:hover{
    transform: scale(1.15);
    border-radius: 10px;
    box-shadow: 0 0 10px #222;
}